.nav-top {
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;

}

.nav-top img {
    margin-top: 10px;
    width: 230px;
    height: 70px;
    margin-left: 100px;
}

ul {
    padding: 0;
    margin: 0;
}

.nav-top ul {
    float: right;
    font-size: 20px;
    line-height: 80px;
    font-weight: bold;
    columns: #888888;;
}

.nav-top li {
    display: inline-block;
    margin: 0px 50px;
}
.active {
    padding: 5px 30px;
    margin-bottom: 20px;
    border-bottom: 5px solid #2fca89;
}
