.top {
    height: 800px;
    width: 100%;
}

.top-container {
    height: 100%;
    width: 100%;
    /* z-index: -99; */
    background-image: url("../images/home2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}