.so-container {
    width: 100%;
    height:1200px;
    background-color: #ffffff;
    z-index: 99;
    font-family: JLGL,Arial,Helvetica,sans-serif;
    position: relative;
}
.nav-top ul {
    float: right;
    font-size: 20px;
    line-height: 70px;
    font-weight: bold;
}
.so-top {
    padding-top: 100px;
    width: 100%;
    height: 300px;
    text-align: center;
}

.so-middle {
    width: 100%;
    height: 900px;
    text-align: center;
}

.so-left {
    width: 20%;
    height: 80%;
    background-color: blue;
    float: left;
}

.so-right {
    width: 20%;
    height: 80%;
    background-color: yellow;
    float: left;
}
.so-center {
    width: 60%;
    height: 80%;
    background-color: red;
    float: left;
}

.so-title {
    width: 100%;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;

}

.so-detail {
    line-height: 2;
    font-size: 17px;;
    text-align: center;
    color: #888888;
}
.so-middle img {
    width: 80%;
    height: 80%;
}
.so-middle p {
    margin-top: 40px;
    line-height: 40px;
    font-size: 13px;
    height: 5%;
}